<!doctype html>
<html>
  <head>
    <title>File</title>
    <link rel="stylesheet" href="css/border-box.css">
    <link rel="stylesheet" href="css/file.css">
    <link rel="stylesheet" href="css/material-design-icons.css">
    <script>
        var HOME = <%= home.inspect %>;
        var ROOT = <%= root.inspect %>;
        var LOGS = <%= logs.inspect %>;
    </script>
    <script id="tree-template" type="text/x-jsrender">
        {{if class=="folder"}}
          <li>
            <i class="material-icons md-18">keyboard_arrow_right</i>
            <i class="material-icons md-18">keyboard_arrow_down</i>
            <span><i class="material-icons md-18">folder</i>{{:path}}</span>
            {{if entries}}
              <ul>
                {{for entries tmpl="#tree-template"/}}
              </ul>
            {{/if}}
          </li>
        {{/if}}
    </script>
    <script id="tree-item-template" type="text/x-jsrender">
        {{if class=="folder"}}
          <li>
            <i></i>
            <span>{{:path}}</span>
            <ul></ul>
          </li>
        {{/if}}
    </script>
    <script id="list-up-item-template" type="text/x-jsrender">
          <tr class="up">
            <td>
              <i class="material-icons md-18">arrow_upward</i>
              <span>[..]</span>
            </td>
            <td></td><td></td><td></td><td></td>
          </tr>
    </script>
    <script id="list-item-template" type="text/x-jsrender">
          <tr class="{{:class}}">
            <td><span>{{:path}}</span><i></i></td>
            <td>{{:~formaters.type(#data)}}</td>
            <td>{{:~formaters.size(#data)}}</td>
            <td>{{:~formaters.created(#data)}}</td>
            <td>{{:~formaters.modified(#data)}}</td>
          </tr>
    </script>
  <head>
  <body>
    <div id="container">
      <ul id="nav">
        <li><a href=".">Home</a></li>
      </ul>
      <ul id="tabs">
        <% nodes.each do |node_id, node_name| %>
          <li node-id="<%= node_id %>"><%= node_name %></li>
        <% end %>
      </ul>
      <div id="output">
        <ul id="short-links">
          <li><a href="" rel-path="<%= home %>" title="<%= root + home %>">HOME</a></li>
          <li><a href="" rel-path="" title="<%= root %>">ROOT</a></li>
          <li><a href="" rel-path="<%= logs %>" title="<%= root + logs %>">LOGS</a></li>
        </ul>
        <div id="path"></div>
        <div id="tree"><ul></ul></div>
        <div id="tree-list-splitter"></div>
        <div id="list">
          <table class="datatable_head">
            <col class="col1">
            <col class="col2">
            <col class="col3">
            <col class="col4">
            <col class="col5">
            <thead>
              <tr>
                <th>Имя<i></i><span></span></th>
                <th>Тип<i></i><span></span></th>
                <th>Размер<i></i><span></span></th>
                <th>Создан<i></i><span></span></th>
                <th>Изменен<i></i></th>
              </tr>
            </thead>
          </table>
          <div>
            <table class="datatable_body">
              <col class="col1">
              <col class="col2">
              <col class="col3">
              <col class="col4">
              <col class="col5">
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="js/lib/polyfills.js"></script>
    <script data-main="js/app" src="js/lib/require.js"></script>
  <body>
</body>
</html>